[alias]
	b = browse
	br = branch
	cm = commit
	cma = commit --amend
	cmf = commit --fixup
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cpq = cherry-pick --quit
	df = diff
	dfs = diff --staged
	fe = fetch
	mg = merge
	mga = merge --abort
	mgc = merge --continue
	mgnc = merge --no-commit
	pl = pull
	ps = push
	psf = push --force-with-lease
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbs = rebase --skip
	rs = reset
	rsh = reset --hard
	rsm = reset --mixed
	rss = reset --soft
	ss = stash
	ssa = stash apply
	ssd = stash drop
	ssl = stash list
	ssp = stash pop
	st = status
	# tr means tree.
	tr = log --all --graph --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%Y/%m/%d %H:%M:%S'
[commit]
	template = ~/.stCommitMsg
[core]
	editor = cot --wait
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[fetch]
	prune = true
[ghq]
	root = ~/Projects/src
[merge]
	ff = false
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	diff = diff-so-fancy | less --tabs=2 -RFX --pattern='^(added|deleted|modified|renamed): '
	show = diff-so-fancy | less --tabs=2 -RFX --pattern='^(added|deleted|modified|renamed): '
[pull]
	ff = only
	rebase = true
[rebase]
	autosquash = true
[sequence]
	editor = rebase-editor -c ^M,^G,
[url "git@github.com:"]
  insteadOf = https://github.com/
[user]
	email = ikngtty@gmail.com
	name = ikngtty
[includeIf "gitdir:~/Projects/src/redhat/"]
  path = ~/Projects/src/redhat/.gitconfig
