black
python-language-server[all]
# If you get an error similar to `'install_requires' must be a string or list of strings` then please upgrade setuptools before trying again.
# pip install -U setuptools
